body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 0;
    margin: 0;
}

header {
    text-align: center;
    padding-top: 15px;
    padding-bottom: 30px;
    background-color: #344bbf;
    color: #ffffff;
}

.color-picker-container {
    text-align: center;
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.color-picker-container input {
    margin-left: 20px;
    width: 80px;
    height: 50px;
}